<div class="tableContainer">
  <table>
    <tr>
        <th>Mobile</th>
        <th>Location-Lattitude</th>
        <th>Location-Longitude</th>
        <th>Detection-Time</th>
    </tr> 
    <tr *ngFor="let location of locations">
      <td>{{location.phone_number}}</td>
      <td>{{location.Location.Latitude}}</td>
      <td>{{location.Location.longitude}}</td>
      <td>{{location.detection_time}}</td>
    </tr>
  </table>
  <div style="float:left">
    <div style="float:left"><a href="stores"><h2>Store Console</h2></a></div>
    <div style="float:right;margin-left: 425px"><a href="customers"><h2>Customer Console</h2></a></div>
  </div>
</div>